<div class="hitokoto-index">
  <div class="title">
    <h1>ひとこといちらん</h1>
    <div class="text-right"><p class="text-small">ばぶ〜</p></div>
  </div>
    <table>
      <tr class="table-title">
        <th>ひとこと</th>
        <th>パーソナリティ</th>
        <th>感情</th>
      </tr>
      <%= render @posts %>
    </table>
</div>
