<div id="hitokoto-new">

  <div>
    <div class="title">
      <h1>おひとこと</h1>
      <div class="text-right"><p class="text-small">ばぶ〜</p></div>
    </div>
  </div>

  <div class="content">
    <h2>あなたのひとことから性格を診断します</h2>
    <p>ひとことおねがいします</p>
    <p>↓</p>
    <%= form_with model: @post, url: hitokoto_index_url, class: "rubbish-form" do |f| %>
      <%= f.text_field :content, placeholder: "楽しい", size: "30x20" %>
      <%= submit_tag "chuck out" %>
    <% end %>
    <div class="history">
      <%= link_to "ひとこといちらん", hitokoto_index_url%>
    </div>
    <div class="text-left"><p class="text-small">ばぶ〜</p></div>
  </div>

</div>