/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hiragino Maru Gothic ProN';
}

#hitokoto-new {
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  background-image: image-url("cropbabyFTHG7710.jpg");
  background-size: cover;
  opacity: 0.7;
  .title {
    height: 150px;
    padding-top: 10px;
    margin-left: 20px;
    width: 90%;
  }

  .content {
    text-align: center;
    h2 {
      margin-bottom: 10px;
    }
    .history {
      margin-top: 20px;
    }
  }
  
}

.text-small {
  position: relative;
  display: inline-block;
  // margin-top: 50px;
  margin-left: 100px;
  width: 100px;
  height:100px;
  line-height: 90px;
  text-align: center;
  color: #4b4a4a;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border-radius: 50%;
  box-sizing: border-box;
  visibility: hidden;
}
.text-left {
  width: 200px;
}
.text-left:hover .text-small {
  visibility: visible;
}
.text-right {
  width: 200px;
  margin-left: auto;
}
.text-right:hover .text-small {
  visibility: visible;
}

.hitokoto-show {
  background-image: image-url("cropTS1299.jpg");
  background-size: cover;
  height: 100vh;
}

$red: #fd7473;
$yellow: #fec951;
$blue: #47b8e0;
$purp: #9f68d0;

.back-show {
  background-color: rgba(61, 61, 61, 0.3);
  min-height: 100vh;
  
    h2 {
      color: white;
      padding-top: 15px;
      padding-left: 10px;
    }
}

.wrapper{
  width: 80%;
  margin-left: 20px;
  margin-top: 15px;
  padding-top: 20px;
}

.bar{
  position: relative;
  width: 100%;
  height: 48px;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  .bar-info{
    border-radius: 5px;
    padding: 0.75rem;
    background: $red;
    color: rgba(255, 255, 255, 0.959);
    width: 10%;
    position: relative;
    height: 30px;
    transition: width 3.3s ease-in-out;
    .percent{
      float: right;
    }
    &.html{
      background: linear-gradient($red, #FC688E), $red;
    }
    &.css{
      background: linear-gradient($yellow, #FCAD44), $yellow;
    }
    &.js{
      background: linear-gradient($blue, #28BEFA), $blue;
    }
    &.ps{
      background: linear-gradient($purp, #BB68D0), $purp;
    }

    .graph-width {
      width: 100px;
    }
  }
}

.hitokoto-index {
  min-height: 100vh;
  background-image: image-url("babyFTHG7630_TP_V.jpg");
  background-size: cover;

  .title {
     height: 50px;
     padding-top: 10px;
     margin-left: 20px;
     width: 90%;
   }

   table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 95%;
    background-color: rgba(199, 200, 202, 0.2);
    margin-top: 60px;
  }

  .table-title {
    background-color: rgba(224, 120, 102, 0.3);
  }

  .left {
    text-align: left;
  }
  
  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  table tr:hover{
    background-color: #d4f0fd;
  }
  
  table th,table td{
    text-align: center;
    width: 33%;
    padding: 10px 0;
  }
  
  table td.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
  }
  
  // table td.icon.bird{
  //   background-color: $red;
  // }
  
  table td.icon.whale{
    background-color: $blue;
  }
  
}

@media screen and (max-width: 468px){

  #hitokoto-new {
    background-image: image-url("cropbabyFTHG77.jpg");
    background-size: cover;
    opacity: 0.7;
  }
  .content {
    margin-top: 140px;
  }

  .hitokoto-show {
    background-image: image-url("cropTS12.jpg");
    background-size: cover;
  }

  .hitokoto-index {
    background-image: image-url("babyFTHG7630_TP_V.jpg");
    background-size: contain;
  }

}

@media (max-width: 1028px) and (min-width: 468px){

  #hitokoto-new {
    background-image: image-url("cropbabyFTHG77.jpg");
    opacity: 0.7;
  }
  .content {
    margin-top: 150px;
  }

  .hitokoto-show {
    background-image: image-url("cropTS12.jpg");
    background-size: contain;
  }

  .hitokoto-index {
    background-image: image-url("babyFTHG7630_TP_V.jpg");
    background-size: contain;
  }
}

.positive {
  color: $red;
}
.negative {
  color: $blue;
}